<h1>
    Your Gemsky e-mail change request
</h1>

You (or someone using your email) recently tried to change the email address associated with a Gemsky account to this one.

If this was not you, please ignore this email. If it was you, you can update your email by clicking the link below:

<p>
    <a href="https://gemsky.io/email/update/<%= @token %>">
        https://gemsky.io/email/update/<%= @token %>
    </a>
</p>
