<h1>
    Your Gemsky registration code
</h1>

You (or someone using your email) recently tried to register for a Gemsky account.

If this was you, please click the link below to confirm your email address and complete your registration:

<p>
    <a href="https://gemsky.io/register/<%= @token %>">
        https://gemsky.io/register/<%= @token %>
    </a>
</p>

Thanks,
The Gemsky Team
