<h1>
    Your Clearsky registration code
</h1>

You (or someone using your email) recently tried to register for a Clearsky account.

If this was you, please click the link below to confirm your email address and complete your registration:

<p>
    <a href="https://clearsky.io/register/<%= @token %>">
        https://clearsky.io/register/<%= @token %>
    </a>
</p>

Thanks,
The Clearsky Team
