<h1>
    Your Clearsky password change request
</h1>

You (or someone using your email) recently tried to reset your password for your Clearsky account.

If this was not you, please ignore this email. If it was you, you can reset your password by clicking the link below:

<p>
    <a href="https://clearsky.io/forgot_password/<%= @token %>">
        https://clearsky.io/forgot_password/<%= @token %>
    </a>
</p>
