<h1>
    You have been invited to edit a Bluesky user!
</h1>

You have been invited to manage the Bluesky user <%= @handle %>! You can accept the invitation by clicking the link below:

<p>
    <a href="https://gemsky.io/accept_invite/<%= @token %>">
        https://gemsky.io/accept_invite/<%= @token %>
    </a>
</p>
