<turbo-frame id="bluesky_user_settings" src="/components/bluesky_user_settings/<%= @bluesky_user.did %>"></turbo-frame>

<div class="my-4">
    <%= render DividerComponent.new %>
</div>

<turbo-frame id="user_settings" src="/components/user_settings"></turbo-frame>
