<%= render FormHeaderComponent.new(
    title: 'Welcome to Gemsky!',
    description: 'Please select the user you wish to login with:',
) %>

<%= render DesktopSmallerViewComponent.new do %>
    <turbo-frame id="user_list" src="/components/user_list">
        <div class="block mx-auto max-w-max">
            <%= render SpinnerComponent.new %>
        </div>
    </turbo-frame>
<% end %>
