<div data-controller="avatar-line">
    <% get_parents(@post[:thread]).each do |parent| %>
        <div class="mb-6">
            <%= render SkeetCompactComponent.new(
                skeet_body: parent[:post],
                user: @user,
                bluesky_user: @bluesky_user,
            ) %>
        </div>
    <% end %>

    <span data-controller="scroll-anchor">
        <%= render SkeetHighlightComponent.new(
            skeet_body: @post[:thread][:post],
            user: @user,
            bluesky_user: @bluesky_user,
        ) %>
    </span>
</div>

<div class="mt-4">
    <% @post[:thread][:replies].each do |child| %>
        <%= render DividerComponent.new %>

        <div class="my-4">
            <%= render SkeetCompactComponent.new(
                skeet_body: child[:post],
                user: @user,
                bluesky_user: @bluesky_user,
            ) %>
            <%# TODO: Handle replies %>
        </div>
    <% end %>
</div>
