<turbo-frame id="<%= params[:frame_id] %>">
    <div class="mt-4">
        <iframe
            class="w-full md:w-2/3 max-w-lg h-64"
            src="<%= @embed_url %>"
            allowfullscreen
            loading="lazy"
        ></iframe>
    </div>
</turbo-frame>
