<h1 class="text-9xl text-center select-none">
    <%= icon 'fa-solid', 'frown' %>
</h1>

<h2 class="text-2xl text-center select-none mt-5">
    This token seems to have been revoked.
</h2>

<p class="text-center mt-2">
    Please go ahead and <a href="/home/new">
        add a new token for this user.
    </a>
</p>
